* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3399cc;
  border: 25px solid #2b81ac;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 22px;
}

header {
  display: flex;
  width: 81.25vw;
  justify-content: flex-start;
  align-items: center;
  margin: 60px auto 40px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.hero-logo {
  width: 35px;
  height: 35px;
  fill: #fff;
  font-size: 22px;
}

main {
  justify-items: center;
}

.cities {
  width: 81.25vw;
  height: 65vh;
  margin-bottom: 35px;

}

ul {
  display: grid;
  grid-template: "lisbon lisbon paris belgrade" 25%
    "venice tel-avive cair new-york" 25%
    "new-delhi san-francisco san-francisco tokyo" 25% "sydney sydney sydney sydney" 25%
    / 25% 25% 25% 25%;
  justify-items: center;
  border: 2px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

li {
  border: 2px solid #fff;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template: "city city city" auto
    "temp . icon" auto
    / auto 5% auto
}

.lisbon {
  grid-area: lisbon;
  background-color: #3399CC;
  width: 100%;

}

.paris {
  grid-area: paris;
  background-color: #33CCCC;
  width: 100%;

}

.belgrade {
  grid-area: belgrade;
  background-color: #996699;
  width: 100%;

}

.venice {
  grid-area: venice;
  background-color: #C24747;
  width: 100%;

}

.tel-avive {
  grid-area: tel-avive;
  background-color: #E2674A;
  width: 100%;

}

.cair {
  grid-area: cair;
  background-color: #FFCC66;
  width: 100%;

}

.new-york {
  grid-area: new-york;
  background-color: #99CC99;
  width: 100%;

}

.new-delhi {
  grid-area: new-delhi;
  background-color: #669999;
  width: 100%;

}

.san-francisco {
  grid-area: san-francisco;
  background-color: #CC6699;
  width: 100%;

}

.tokyo {
  grid-area: tokyo;
  background-color: #339966;
  width: 100%;

}

.sydney {
  grid-area: sydney;
  background-color: #666699;
  width: 100%;

}

.city {
  grid-area: city;
  ;
}

.temp {
  grid-area: temp;
  justify-self: end;
}

li svg {
  width: 60px;
  height: 60px;
  fill: #fff;
  display: block;
}

.icon {
  grid-area: icon;
  justify-self: start;
}

.footer {
  font-size: 16px;
  display: flex;
  width: 81.25vw;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 120px;
}